
/* General */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.md-header--shadow{
    box-shadow: 0;
}

a{
    color: #564256;
}
a:hover{
    text-decoration: underline;
}

[data-md-color-scheme="daw-style"] {
    --md-primary-fg-color:        #564256;
    --md-primary-fg-color--light: #564256;
    --md-primary-fg-color--dark:  #564256;

}

[data-md-color-scheme="slate"] {
    --md-typeset-a-color: #FFE4E9;
}



/* Home */

 nav.home-menu{
     width: 100%;

     ul {
         width: 100%;
         list-style: none;
         display: flex;
         justify-content: space-between;
     }
     li{
         width: 33%;
         text-align: center;
     }
     a{
         width: 100%;
         display: inline-block;
         padding: 2rem;
         font-size: 2rem;
         background:#564256;
         color: white;
     }
     a:hover{
         text-decoration: none;
         background:white;
         color: #564256;
         transition: all ease 0.5s;
     }
 }

/* Referencias */
body > header > nav.md-header__inner.md-grid{
    position: sticky;
}

body > header > nav.md-header__inner.md-grid > a{
    position: absolute;
    top: -2px;
    left: -69px;
}

body > header > nav.md-header__inner.md-grid > a > img{
    width: 60px;
    height: 60px;
}

[dir=ltr] .md-header__title {
    margin-left: 0.6rem;
    margin-right: .4rem;
}
.md-tabs{
    height: 30px;
}
.md-tabs__link{
    margin-top: 0;
}
